<a href="https://colab.research.google.com/github/a-nt-1/jupyter2/blob/main/curso2%20modulo1%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1

Deberás definir la función agregar_entero(lista, entero), la cual recibe como parámetro una lista en el formato anterior y un entero cualquiera. La función deberá agregar el entero en la posición correcta de la lista y luego retornar la lista. Por ejemplo, si se llama la función: agregar_entero(L, 13), siendo L la lista anterior, entonces deberás retornar la lista:

In [15]:
lista = [-40, -1, 1, 5, 16, 72, 100]


def agregar_entero(lista, entero):

    for i in range(len(lista)):

        if entero < lista[i]:

            lista.insert(i, entero)
            return lista

    lista.append(entero)

    return lista


agregar_entero (lista,101)
print(lista)
agregar_entero (lista,-101)
print(lista)
agregar_entero (lista,10)
print(lista)
agregar_entero (lista,31)
print(lista)

[-40, -1, 1, 5, 16, 72, 100, 101]
[-101, -40, -1, 1, 5, 16, 72, 100, 101]
[-101, -40, -1, 1, 5, 10, 16, 72, 100, 101]
[-101, -40, -1, 1, 5, 10, 16, 31, 72, 100, 101]

Ejercicio 2

Deberás definir la función max_repetido(lista), la cual recibe como parámetro una lista en el formato anterior. La función deberá retornar el número de veces que se repite el entero que se repite más veces dentro de la lista. En el ejemplo anterior, el entero que más se repite es el 1, el cual se repite 7 veces, por lo que tu función deberá retornar 7.

In [74]:
#lista = [1,4,6,2,4,3,1,1,3,5,6,7,3,4,5,5,5,3,3,2,1,2,1,1,1,2,6,6]
lista = [5, 5, 2, 3, 1, 2, 5, 1, 1, 3, 5, 2, 3, 3, 1, 5, 1, 5, 5, 4, 1, 3, 1, 2, 2, 4, 3, 2, 1, 2, 2, 2, 4, 1, 5, 1, 4, 3, 2, 1, 2, 3, 1, 1, 5, 2, 4, 5, 3, 4, 3, 1, 3, 3, 1, 3, 4, 3, 2, 2, 2, 1, 4, 1, 1, 5, 1, 3, 3, 3, 5, 2, 3, 5, 5, 3, 5, 1, 1, 1, 1, 1, 5, 2, 1, 1, 3, 1, 5, 2, 1, 4, 1, 5, 3, 5, 3, 5, 3, 4]

def max_repetido(lista):
  lista2=[]
  encontrado = False

  largo_lista=len(lista)
  print("largo lista: ",largo_lista)

  for i in range (0,largo_lista):
    #print("largo lista2: ",len(lista2))
    for j in range (0,len(lista2)):
      #print(j)
      if lista[i]==lista2[j][0]:
        lista2[j][1]+=1
        #print("lista2[j][1]: ",lista2[j][1])
        encontrado=True
        break
    if not encontrado:
      lista2.append([lista[i],1])
    encontrado = False

  maxi = 0
  maxi_idx = 0
  for i in range (0,len(lista2)):
    if lista2[i][1]>maxi:
      maxi= lista2[i][1]
      maxi_idx = i

  #print(lista2[maxi_idx][0])
  return maxi

print(max_repetido(lista))

largo lista:  100
29

Ejercicio 3

Deberás definir la función agregar_estudiante(lista, estudiante), la cual recibe como parámetro una lista en el formato anterior y el nombre de un nuevo estudiante. La función deberá agregar al estudiante en la posición correcta (ordenado alfabéticamente por apellido y nombre) de la lista y luego retornar la lista. Por ejemplo, si en la lista anterior se agrega el estudiante 'Eliza Manguera', entonces tu función deberá retornar:

In [78]:
"""estudiantes = [
'Mario Avedaño',
'Policarpo Avedaño',
'Juan Bodoque',
'Juanin Harry',
'Mario Hugo',
'Dylan Manguera',
'Eusebio Manguera'
]"""
estudiantes= ['David Avedaño', 'Juanin Avedaño', 'Marcelo Avedaño', 'Mario Avedaño', 'Paulina Avedaño', 'Juan Hugo', 'Juanin Hugo', 'Marcelo Hugo']

def agregar_estudiante(lista, estudiante):

  nombre, apellido = estudiante.split(' ')

  for i in range(0,len(lista)):
    nombre_i, apellido_i = lista[i].split(' ')
    if apellido < apellido_i:
      lista.insert(i, estudiante)
      break

    elif apellido == apellido_i and nombre < nombre_i:
      lista.insert(i, estudiante)
      break

  return lista
agregar_estudiante(estudiantes, 'David Hugo')
#agregar_estudiante(estudiantes, 'Eliza Manguera')
print(estudiantes)

['David Avedaño', 'Juanin Avedaño', 'Marcelo Avedaño', 'Mario Avedaño', 'Paulina Avedaño', 'David Hugo', 'Juan Hugo', 'Juanin Hugo', 'Marcelo Hugo']



---

In [14]:
ingredientes_amigos = [
    ['Pan', 'Salchichas', 'Mostaza', 'Ketchup'], #ingr. amigo 1
    ['Pan', 'Tomate', 'Chucrut'], #ingr. amigo 2
    ['Ketchup','Salchichas'], #ingr. amigo 3
    ['Chucrut', 'Pan'] #ingr. amigo 4
]
ingredientes_favoritos = ['Pan', 'Tomate', 'Salchichas', 'Chucrut', 'Mostaza', 'Ketchup', 'Mayonesa', 'Palta']

for amigo in ingredientes_amigos:
    for ingrediente in amigo:
        if ingrediente in ingredientes_favoritos:
            ingredientes_favoritos.remove(ingrediente)
print(ingredientes_favoritos)

['Mayonesa', 'Palta']



---

In [13]:
lista = [[-1, 2, -5, 40],
         [9, 65, -6, -34],
         [0, -4, 9, 2]
        ]

fils = len(lista)
cols = len(lista[0])
for i in range( fils ):
    for k in range( cols ):
        if lista[i][k] < 0:
            lista[i][k] = 0


print(lista)

[[0, 2, 0, 40], [9, 65, 0, 0], [0, 0, 9, 2]]



---

In [11]:
votos = [['Alicia', 35],
         ['Bob', 42],
         ['Carlos', 29],
         ['David', 33]
]

mejor = ['', 0]
for candidato in votos:
    if candidato[1] > mejor[1]:
        mejor = candidato
print(mejor[0])

Bob



---

In [6]:
lista = ['Alicia', 'Bob', 'Carlos', 'David']

for i in range( len(lista) ):
    ultimo_cliente = len(lista) - i
    cliente = lista[ ultimo_cliente ]
    print(cliente)

IndexError: list index out of range

In [7]:
d = ['Alicia', 'Bob', 'Carlos', 'David']    # lista de dueños
m = ['Pelusa', 'Luke', 'Mickey', 'Madonna'] # lista de mascotas

for i in range(len(d)):
    print(d[i], m[i])

Alicia Pelusa
Bob Luke
Carlos Mickey
David Madonna

In [8]:
lista = ['soleado', 'nublado', 'soleado', 'lluvia', 2.4, 'lluvia', 0.1, 'nublado', 'lluvia', 0.8]

suma = 0
for i in lista:
    if i not in ['soleado','nublado','lluvia']:
        suma += i
print(suma)

3.3