<a href="https://colab.research.google.com/github/a-nt-1/jupyter2/blob/main/modulo_4_clases_y_ejercicios_de_c%C3%B3digo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **IPYNB para los ejercicios y ejemplos del curso de python**

A continuación dejo varias celdas para las pruebas de los ejemplos de los videos del curso

In [1]:
conjunto = set([1,1,1,1,1,1,22,2,2,2,2,2,2,3,4,5,6,7,8,9,10])
print(conjunto)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22}

# **A continuación vienen los ejercicios  de cada módulo**

Ejercicio 1

In [ ]:
vuelos = [ ['Origen', 'Destino', 'precio', 'asientos disponibles', 'Fecha'],
['Santiago', 'Puerto Montt', 35000, 30, '11 Enero 2023'],
['Santiago', 'Concepción', 30000, 40, '20 Febrero 2023'],
['Santiago', 'Puerto Montt', 28000, 2, '19 Enero 2023'],
['Santiago', 'Puerto Montt', 12000, 100, '20 Mayo 2023'],
['Antofagasta', 'Santiago', 27000, 14, '18 Abril 2023' ]
]

def vuelos_disponibles(vuelos, origen, destino, pasajeros):
  vuelos_disponibles = []
  cabecera = vuelos[0]
  vuelos_disponibles.append(cabecera)
  #vuelos = vuelos[1:]
  for vuelo in vuelos:
    if vuelo[0] == origen and vuelo[1] == destino and vuelo[3] >= pasajeros:
      vuelos_disponibles.append(vuelo)
  return vuelos_disponibles

vuelos_disponibles(vuelos, 'Santiago', 'Puerto Montt', 5)

[['Origen', 'Destino', 'precio', 'asientos disponibles', 'Fecha'],
 ['Santiago', 'Puerto Montt', 35000, 30, '11 Enero 2023'],
 ['Santiago', 'Puerto Montt', 12000, 100, '20 Mayo 2023']]



---

Ejercicio 2

Tienes una lista de listas con información de alumnos, esta lista contiene siempre como primer elemento un header que muestra donde se guarda cada información:


12345
lista = [
['Nombre', 'Numero alumno', 'Correo', 'Nota final'],
['Alicia', 16848, 'amartinez@gmail.com', 5.7],
['Marco', 19845, 'marenas@gmail.com', 4.8]
]
Esta lista puede contener distinta información y en distinto orden, pero siempre va a tener al menos el nombre y la nota final. Por ejemplo, la lista también se podría ver como:


12345678
lista = [
['Numero alumno', 'Nota final', 'Nombre', 'Color favorito'],
[16848, 5.7, 'Alicia', 'Rojo'],
[19845, 4.8, 'Marco', 'Verde'],
[19515, 6.2, 'Federico', 'Azul']
]


Deberás definir una función notas_alumnos(lista), la cual recibe una lista de listas en el formato anterior. La función deberá retornar una lista de tuplas, donde cada tupla contiene el nombre de un estudiante y su nota final. Por ejemplo, para las listas anteriores tu función deberá retornar:


1
[('Alicia', 5.7), ('Marco', 4.8) ]
y


1
[('Alicia', 5.7), ('Marco', 4.8), ('Federico', 6.2) ]
Nota que los alumnos en la lista a retornar están en el mismo orden que estaban en la lista inicial. (primero Alicia, luego Marco y por último Federico)

In [ ]:
lista = [
['Numero alumno', 'Nota final', 'Nombre', 'Color favorito'],
[16848, 5.7, 'Alicia', 'Rojo'],
[19845, 4.8, 'Marco', 'Verde'],
[19515, 6.2, 'Federico', 'Azul']
]

def notas_alumnos(lista):
  notas_alumnos = []
  cabecera = lista[0]
  indice_nombre = cabecera.index('Nombre')
  indice_nota = cabecera.index('Nota final')
  #notas_alumnos[0]=["Nombre",'Nota final']
  for alumno in lista[1:]:
    nombre = alumno[indice_nombre]
    nota = alumno[indice_nota]
    notas_alumnos.append((nombre, nota))
  tupla_notas=(notas_alumnos)
  return tupla_notas

notas_alumnos(lista)

[('Alicia', 5.7), ('Marco', 4.8), ('Federico', 6.2)]



---

Ejercicio 3

Tienes una lista con información de países, esta información es el id (número que identifica al país), el nombre y la capital:


123456
paises = [
[0, 'España', 'Madrid'],
[2, 'Alemania', 'Berlin'],
[1, 'Francia', 'Paris'],
[3, 'Italia', 'Roma']
]
Además, tienes una lista con el índice de belleza de los países, según un comentarista de un canal de viajes. Esta lista contiene el id de cada pais, junto a un float entre 0 y 1 con su índice de belleza (un país con un índice más alto se considera más bello que un país con el índice más bajo)


123456
belleza = [
[2, 0.57],
[1, 0.81],
[3, 0.68],
[0, 0.62]
]
Nota que el índice de belleza pertenece al país con el mismo id en la lista países.

Define la función paises_bellos(paises, belleza), que recibe como parámetro la lista paises y la lista belleza. La función deberá retornar una lista de tuplas, donde cada tupla contiene el nombre de un país y su índice de belleza. Además, las tuplas de esta lista deberán estar ordenadas de país más bellos a país menos bellos. Para las listas anteriores a función deberá retornar:


12345
[('Francia', 0.81),
('Italia', 0.68),
('España', 0.62),
('Alemania', 0.57)
]

In [ ]:

paises = [
[0, 'España', 'Madrid'],
[2, 'Alemania', 'Berlin'],
[1, 'Francia', 'Paris'],
[3, 'Italia', 'Roma']
]


belleza = [
[2, 0.57],
[1, 0.81],
[3, 0.68],
[0, 0.62]
]

def paises_bellos(paises, belleza):
  paises_bellos = []

  for pais in paises:
    id_pais = pais[0]
    #print (id_pais)
    nombre_pais = pais[1]
    #print(nombre_pais)
    for pais_bello in belleza:
      if pais_bello[0] == id_pais:
        belleza_pais = pais_bello[1]
        #print(belleza_pais)

    paises_bellos.append((nombre_pais, belleza_pais))

  paises_bellos.sort(key=lambda x: x[1], reverse=True)

  return paises_bellos

print(paises_bellos(paises, belleza))

0
España
0.62
2
Alemania
0.57
1
Francia
0.81
3
Italia
0.68
[('Francia', 0.81), ('Italia', 0.68), ('España', 0.62), ('Alemania', 0.57)]



---



---