<a href="https://colab.research.google.com/github/a-nt-1/jupyter2/blob/main/modulo_4_clases_y_ejercicios_de_c%C3%B3digo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **IPYNB para los ejercicios y ejemplos del curso de python**

A continuación dejo varias celdas para las pruebas de los ejemplos de los videos del curso

In [5]:
conjunto = set([1,1,1,1,1,1,22,2,2,2,2,2,2,3,4,5,6,7,8,9,10])
print(conjunto)

opciones = {'Si', 'No'}
print(opciones)
opciones.add('No se')
print(opciones)


lista = [1,2,3,4,5,6,7,8,9]
#lista.pop(2)
for i in range (0,len(lista),2):
  #lista[i]=[lista[i],0]
  lista.append([])

print(lista)


poema = ['Mis', 'pasos', 'en', 'esta', 'calle', 'Resuenan', 'En', 'otra', 'calle', 'Donde', 'Oigo', 'mis', 'pasos', 'Pasar', 'en', 'esta', 'calle', 'Donde', 'Sólo', 'es', 'real', 'la', 'niebla']
prohibidas = set( ['calle', 'mis', 'pasos'] )

poema = set(poema)
poema = poema - prohibidas


print(poema)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22}
{'No', 'Si'}
{'No', 'No se', 'Si'}
[1, 2, 3, 4, 5, 6, 7, 8, 9, [], [], [], [], []]
{'Sólo', 'otra', 'Mis', 'esta', 'la', 'Oigo', 'niebla', 'real', 'es', 'en', 'Pasar', 'Donde', 'En', 'Resuenan'}

In [27]:
a1 = set(['Pan', 'Salchichas', 'Mostaza', 'Ketchup'])
a2 = set(['Pan', 'Cebolla', 'Tomate', 'Chucrut'])
a3 = set(['Ketchup','Salchichas', 'Aji'])
a4 = set(['Chucrut', 'Pan'])

ing_favoritos = set(['Pan', 'Tomate', 'Salchichas', 'Chucrut', 'Mostaza', 'Ketchup', 'Mayonesa', 'Palta'])

faltantes = ing_favoritos - (a1 | a2 | a3 | a4)
print(faltantes)

lista = [1,2,1,1,5,6,4,4,4,6,7,5,1,1,7,7,7,2,1,2]

d = dict()
for num in set(lista):
    d[num] = lista.count(num)
print(d)

clientes = {
    'Alicia': (28, 'Chile', 1200),
    'Bob': (45, 'Francia', 2000),
    'Carlos': (30, 'Argentina', 500),
    'David': (23, 'Inglaterra', 0)
}
for cliente in clientes:
    edad, residencia, deuda = clientes[cliente]
    if deuda > 1000:
        print(cliente)


amigos = {'Bob': ['Patricio', 'Calamardo', 'Arenita', 'Don Cangrejo'],
    'Patricio': ['Bob', 'Calamardo'],
    'Arenita': ['Bob'],
    'Calamardo': [],
    'Don Cangrejo': ['Bob', 'Calamardo']
}
{'Bob': 3,
'Patricio': 1,
'Arenita': 1,
'Calamardo': 3,
'Don Cangrejo': 1
}
otro = dict()
for nombre in amigos:
    otro[nombre] = 0
for i in amigos:
    lista_amigos = amigos[i]
    for nombre in otro:
        if nombre in lista_amigos:
            otro[nombre] += 1
print(otro)
otro = dict()
for nombre in amigos:
    otro[nombre] = 0
    for otro_nombre in amigos:
        if nombre != otro_nombre and nombre in amigos[otro_nombre]:
            otro[nombre] += 1
print(otro)
otro = dict()
for nombre in amigos:
    otro[nombre] = 0

for lista_amigos in amigos.values():
    for nombre in lista_amigos:
        otro[nombre] += 1
print(otro)


clientes = [
    "Male",
    "Male",
    "N/A",
    "Female",
    "N/A",
    "Female",
    "Male",
    "N/A",
    "Female",
    "Female"
]

resumen = [0,0,0]

generos = {
    "Male": 0,
    "Female": 1,
    "N/A": 2
}
for cliente in clientes:
    resumen[generos[cliente]] += 1


print(resumen)

{'Mayonesa', 'Palta'}
{1: 6, 2: 3, 4: 3, 5: 2, 6: 2, 7: 4}
Alicia
Bob
{'Bob': 3, 'Patricio': 1, 'Arenita': 1, 'Calamardo': 3, 'Don Cangrejo': 1}
{'Bob': 3, 'Patricio': 1, 'Arenita': 1, 'Calamardo': 3, 'Don Cangrejo': 1}
{'Bob': 3, 'Patricio': 1, 'Arenita': 1, 'Calamardo': 3, 'Don Cangrejo': 1}
[3, 4, 3]

# **A continuación vienen los ejercicios  de cada módulo**

Ejercicio 1

In [4]:
boletas = [{'fecha_compra' : '29-05-22',
'precio' : 12000,
'productos' : {'Chocolate': 1,
'Mantequilla': 1,
'Huevos': 12,
'Pan' : 1}
},
{'fecha_compra' : '31-05-22',
'precio' : 2400,
'productos' : {'Pan': 1, 'Leche' : 2}
},
{'fecha_compra' : '01-06-22',
'precio' : 3000,
'productos' : {'Mantequilla': 2, 'Azucar' : 1}
}
]

def precio_total(boletas):
  precio_total = 0

  for boleta in boletas:
    precio_total += boleta['precio']
    #print(precio_total)
  return precio_total

print(precio_total(boletas))

def precio_mes(boletas):
  meses ={}
  for boleta in boletas:
    mes = boleta['fecha_compra'][0:5]
    if mes in meses:
      meses[mes] += boleta['precio']
    else:
      meses[mes] = boleta['precio']
  return meses

print(precio_mes(boletas))


def productos_frecuentes(boletas):
  numero_de_compras = len(boletas)
  mitad = numero_de_compras % 2
  productos = {}

  for boleta in boletas:
    for productos_boleta in boleta['productos']:
      for producto_boleta in productos_boleta:
        print(producto_boleta)
        if producto_boleta in productos:
          productos[producto] += 1
        else:
          #print (boleta['productos'][producto_boleta])
          #productos[producto] = boleta['productos'][producto_boleta]


  for producto in productos:
    if producto[1]<mitad:
      productos.pop(producto)

  return productos

print(productos_frecuentes(boletas))

IndentationError: expected an indented block after 'else' statement on line 52 (<ipython-input-4-ad9ee4d51be9>, line 57)



---

Ejercicio 2

[('Alicia', 5.7), ('Marco', 4.8), ('Federico', 6.2)]



---

Ejercicio 3

0
España
0.62
2
Alemania
0.57
1
Francia
0.81
3
Italia
0.68
[('Francia', 0.81), ('Italia', 0.68), ('España', 0.62), ('Alemania', 0.57)]



---



---